<!DOCTYPE html>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>eText Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8" />
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/app/jsrivet/rivet.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/app/jsrivet/rivet-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/app/webjars/datatables/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/app/css/etextmanager.css}"/>
</head>

<body>

<div layout:fragment="content" class="rvt-container-xl rvt-p-top-sm" id="main-container" role="main" aria-labelledby="tool-title">
    <!-- Page content goes here -->
</div>

<footer th:unless="${hideFooter}" class="rvt-ts-12 rvt-container-xl rvt-m-top-lg">
    <div id="footer" th:text="${@serverInfo}"></div>
</footer>

<script type="text/javascript" th:src="@{/app/jsrivet/rivet.min.js}"></script>
<script defer th:src="@{/app/jsrivet/rivet-icons.js}"></script>
<script type="module" th:src="@{/app/jsrivet/rivet-icon-element.js}"></script>
<script type="text/javascript" th:src="@{/app/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/app/webjars/datatables/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/app/webjars/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script type="text/javascript" th:src="@{/app/webjars/datatables-buttons/js/buttons.html5.min.js}"></script>
<script type="text/javascript" th:src="@{/app/js/etextmanager.js}"></script>
<script>
    Rivet.init();
</script>

<th:block layout:fragment="script">
    <!--
        // load in individual pages javascript
    -->
</th:block>
</body>
</html>
